<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <div class="container col-xl-12">
            <h1>Узнай, как часто студенты говорят слова!</h1>
            <p>Это приложение берет от тебя слова и смотрит частотность их встречаемости в пабликах Подслушано четырех крупнейших ВУЗов Москвы:</p>
			<p>ВШЭ, МГУ, РАНХиГС и МГИМО!</p>
            <form method="POST" action="/">
                <div class="form-group">
                    <label for="text">Введите слова через любой разделитель:</label>
                    <input type="text" class="form-control" name="words" id="words" aria-describedby="text" placeholder="смерть,кладбище,дедлайн,поступить">
                    <small id="textmuted" class="form-text text-muted">Смелее!</small>
                </div>
                <button type="submit" class="btn btn-primary">Покатились!</button>
            </form>
            {% if output %}
                <h3 class="alert alert-success">{{ output }}</h3>
				<img src="{{url_for('static', alt='ВШЭ', filename='ВШЭ.png')}}" /height="400" width="600">
				<img src="{{url_for('static', alt='МГУ', filename='МГУ.png')}}" /height="400" width="600">
				<img src="{{url_for('static', alt='РАНХ', filename='РАНХИГС.png')}}" /height="400" width="600">
				<img src="{{url_for('static', alt='ВШЭ', filename='МГИМО.png')}}" /height="400" width="600">
				<img src="{{url_for('static', alt='ОБЩ', filename='common.png')}}" /height="800" width="1200">
            {% elif outfail %}
                <h3 class='alert alert-success'>Что-то пошло не так</h3>
            {% endif %}





        </div>


        <!-- Скрипты-->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>